.pagination {
  border-radius: 50px;
  height: 60px;
  width: 100%;
  background-color: #6464b8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-container {
  padding-top: 24px;
}
