.popup__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 200px;
  width: 400px;
  height: 460px;
  background-color: #39397f;
  position: relative;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 30px 36px 37px 36px;
  margin: 0 auto;
  transform: translateY(-200%);
  animation: ani 1s forwards;

  @media screen and (max-width: 950px) {
    width: 400px;
  }

  @media screen and (max-width: 450px) {
    width: 90%;
    bottom: 40px;
    padding: 30px 16px;
  }
}

@keyframes ani {
  0% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(0);
  }
}

.close-button_form {
  right: 2%;
  top: 10px;
}

.popup__container-comment {
  top: 200px;
  width: 350px;
  height: 260px;
  background-color: #39397f;
  position: relative;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 30px 36px 37px 36px;
  margin: 0 auto;
  transform: translateY(-200%);
  animation: ani 1s forwards;

  @media screen and (max-width: 420px) {
    height: 240px;
    bottom: 0;
    width: 90%;
    padding: 20px 26px 27px 26px;
  }
}
